body{
  margin:;
  border:2px solid white;
  background-color:lightgreen;
  color:;
  font-family:monospace;
}
.h21
{
    text-align:center;
}
img
{
  border:5px solid white;
  width:300px;
  height:200px;
}
div
{
  
  
}
.c1
{
  display:block;
  width:80%;
  height:;
  line-height:;
  text-align:center;
}
.small
{
  text-align:left;
  margin-left:40%;
   border-top:2px solid green;
}
p{
 font-family:monospace;
  border:1px solid green;
  text-align:left;
  font-size:16px;
}
